@model dynamic

@{
    ViewBag.Title = "CreateDish";
}

<html>
<head>
    <style type="text/css"> 

    #rightTbl{
        font-size: 26pt;
        color: green;
        
    }
    #leftTbl{
        margin-bottom: 50px;
        font-size: 26pt;
        color: #17a2b8;
    }
    #content{

    }
    #input{
        font-size: 26pt;
    }
    button{
        font-size: 16pt;
        background-color: #007bff;
        border-radius: 8px;
        border:solid black; 
    }
	</style>
</head>



<body>
<div style="text-align: center;">
    <h2>CreateDish</h2>
</div>
<div id="content">
    <table id="leftTbl">
        <tr>
            <td>
                ID
            </td>
            <td>
                Name
            </td>
        </tr>
        @foreach (var item in Model.Dishs)
        {
            <tr>
                <td>
                    @item.Dishid)
                </td>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </table>
    <table id="rightTbl">
        <form method="post">
            @foreach (var item in Model.Ingredients)
            {
                <tr>
                    <td>
                        @item.Ingredientid)
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <input name="AreChecked" type="checkbox" value="@item.Ingredientid"/>
                    </td>
                </tr>

            }
            <div id="input">
                <label for="fname">Dish Name:</label>
                <input type="text" id="fname" name="name"><br><br>
                <button>Create Dish</button>
            </div>
        </form>
    </table>
</div>
</body>
</html>